@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Do+Hyeon&family=Noto+Sans+KR:wght@300&family=Roboto&display=swap');

* {
  font-family: "Do Hyeon";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

.search-type {
  display: flex;
    width: 100%;
    height: 100%;
}

.input-search {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  border: 3px solid salmon;
  text-align: center;
  font-size: 1.3em;
  transition: 0.8s;
}
.search-btn{
  display: flex;
  width: 20%;
  height: 100%;
  padding-left: 1vw;
}
.search-btn button{
  width: 50%;
  height: 100%;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
.search-btn button img{
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: 10px;
}
.ul {
  position: absolute;
  top: 70%;
  left: 0;
  display: grid;
  padding: 1%;
  width: 100vw;
  margin: auto;
  grid-gap: 1vw;
  grid-template-columns: repeat(5, 1fr);
}

li {
  list-style-type: none;
  border: 1px solid #dddddd;
  padding: 20px;
}

li dl {
  display: flex;
  flex-direction: column;
}

li dl dt {
  height: 200px;
}

li dl dt img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

li dl dd {
  flex: 1;
}