li {
    list-style-type: none;
    border: 1px solid #dddddd;
    padding: 20px;
  }
  
  li dl {
    display: flex;
    flex-direction: column;
  }
  
  li dl dt {
    height: 200px;
  }
  
  li dl dt img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  li dl dd {
    flex: 1;
  }
