#login-box{
    width: 30%;
    height: 70%;
    text-align: center;
    margin-bottom: 100px;
    
}

.top{
    width: 100%;
    height: 50%;
    padding-bottom: 3vh;
}
.logo{
    
}
.logo>img{
    width: 200px;
    border-radius: 100px;
}
p{
    font-size: 2.5em;
    padding: 2vh 0 0 0;
}
.login-input{
    width: 100%;
    height: 50%;
}
.login-form{
    display: block;
    width: 100%;
    height: 100%;    
    margin-bottom: 3vh;
}
.id-pw{
    width: 100%;
    height: 30%;
}
.id-input{
    width: 80%;
    height: 50%;
    text-align: center;
    margin-bottom: 3vh;
}
.pw-input{
    width: 80%;
    height: 50%;
    text-align: center;
}

.gray{
    transition: 0.6s;
    background-color: cornflowerblue;
    width: 30%;
    height: 15%;
    margin-top: 7vh;
    border-radius: 70px;
    border: 3px solid black;
}
.green{
    background-color: lightgreen;
    transition: 0.6s;
    width: 30%;
    height: 15%;
    margin-top: 7vh;
    border-radius: 70px;
    border: 3px solid black;
    cursor: pointer;
}

.find{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.id-find{
    margin-right: 2vw;
}
.new{
    width: 100%;
    height: 100%;
    
}