*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    text-decoration: inherit;
}

.flex{
    display: flex;
}

#menubar{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2em;
    border-bottom: 2px solid lightgray ;
    background-color: aliceblue;
}
.bestseller{
    width: 25%;
}
.bestseller-btn{
    display: inline;
    cursor: pointer;    
}
.newbooks{
    width: 25%;
}
.newbooks-btn{
    display: inline;
    cursor: pointer;
}
.qna{
    width: 25%;
}
.qna-btn{
    display: inline;
    cursor: pointer;
}
.oldbooks{
    width: 25%;
}
.oldbooks-btn{
    display: inline;
    cursor: pointer;
}