*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
main{
    background-color: brown;
    position: absolute;
    top: 30%;
    left: 35%;
    
}

.signUpInput{
     
}
.nameInput{
   height: 7vh; 
   margin-bottom: 2vh;
}
.inputMessage{
    background-color: azure;
    height: 5vh;
    padding-top: 1vh;
}
.input{
   height: 4vh; 
}
.nameInput .inputMessage input{
 height: 5vh;       
}